In [40]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt

In [34]:
train_data = pd.read_csv('~/Documents/titanic/titan_model/input/train.csv')
test_data = pd.read_csv('~/Documents/titanic/titan_model/input/test.csv')

In [23]:
display(train_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
print(train_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
survival_data = train_data['Survived']
survival_rate = survival_data.sum()/len(train_data.index) *100
print(survival_rate)

38.38383838383838

In [26]:
y = train_data['Survived']

In [27]:
features = ['Sex', 'Parch', 'Pclass', 'SibSp']

#A way of checking whether columns in a dataframe have NaN values

In [32]:
for column in train_data:
    print(train_data[column].isnull().values.any())

False
False
False
False
False
True
False
False
False
False
True
True

In [36]:
X = pd.get_dummies(train_data[features])

In [37]:
X_test = pd.get_dummies(test_data[features])

In [41]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1) #Find out what each of these args mean

In [42]:
model.fit(X,y)

RandomForestClassifier(max_depth=5, random_state=1)

In [45]:
predictions = model.predict(X_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [46]:
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [48]:
test = pd.read_csv('my_submission.csv')

In [52]:
survival_data = test['Survived']
survival_rate = survival_data.sum()/len(test.index) *100
print('According to the model this is the predicted survival rate:', survival_rate)

According to the model this is the predicted survival rate: 35.645933014354064